@page "/"
@using System.Text
@using Plugin.BLE
@using Plugin.BLE.Abstractions
@using Plugin.BLE.Abstractions.Contracts
@using Plugin.BLE.Abstractions.EventArgs
@using Plugin.BLE.Abstractions.Exceptions

<h1>ESP32 Test</h1>
<button @onclick="@(() => Navigation.NavigateTo("/CaptureAndUpload"))">Go to Capture</button>

@*TO DO - REMOVE*@
<p>Notifications received: @_notificationCount</p>

@switch (_connectionState)
{
    case ConnectionState.Disconnected:
        <button @onclick="ConnectToEsp32">Connect to Esp32</button>
        break;
    case ConnectionState.Scanning:
        <p>Scanning for Esp32...</p>
        break;
    case ConnectionState.Connected:
        <p>Connected to ESP32!</p>
    
        <button @onclick="@(() => SendCommandToEsp32(nameof(Esp32Command.Up)))">Up</button>
        <button @onclick="@(() => SendCommandToEsp32(nameof(Esp32Command.Down)))">Down</button>
        <button @onclick="@(() => SendCommandToEsp32(nameof(Esp32Command.Left)))">Left</button>
        <button @onclick="@(() => SendCommandToEsp32(nameof(Esp32Command.Right)))">Right</button>
        <button @onclick=DisconnectFromEsp32>Disconnect</button>
        break;
}

@if (_errorMessage is not null)
{ 
    <p style="color: red;">@_errorMessage</p>  
}

@code {
    [Inject] private NavigationManager Navigation { get; set; }
    
    public event Action? OnEsp32CommandSent;
    // TO DO - REMOVE
    private int _notificationCount = 0;
    
    private const string ServiceUuid = "7123acc7-b24d-4eee-9c7f-ee6302637aef";
    private const string CharacteristicUuid = "8be0f272-b3be-4351-a3fc-d57341aa628e";
    private enum ConnectionState
    {
        Disconnected,
        Scanning,
        Connected
    }
    private enum Esp32Command
    {
        Up,
        Down,
        Left,
        Right
    }
    
    private IBluetoothLE ble;    
    private IAdapter adapter;
    private IDevice? _connectedDevice;
    private IService? _connectedDeviceService;
    private ICharacteristic? _connectedDeviceCharacteristic;
    private ConnectionState _connectionState = ConnectionState.Disconnected;
    private string? _errorMessage;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ble = CrossBluetoothLE.Current;
        adapter = CrossBluetoothLE.Current.Adapter;

        // TO DO - REMOVE
        OnEsp32CommandSent += () => {
            _notificationCount++;
            InvokeAsync(StateHasChanged);
        };
    }

    private async Task<bool> CheckBluetoothPermissions()
    {
        PermissionStatus status = await Permissions.CheckStatusAsync<Permissions.Bluetooth>();
        if (status != PermissionStatus.Granted)
        {
            status = await Permissions.RequestAsync<Permissions.Bluetooth>();
            if (status == PermissionStatus.Denied)
            {
                _errorMessage = "Location permission is required to scan for Bluetooth devices. Please enable it in the app settings.";
                StateHasChanged();
                return true;
            }
        }

        return false;
    }
    
    private bool CheckBluetoothState()
    {
        var bluetoothState = ble.State;
        switch (bluetoothState)
        {
            case BluetoothState.Unknown:
                _errorMessage = "Bluetooth state is unknown.";
                StateHasChanged();
                return true;
            case BluetoothState.Unavailable:
                _errorMessage = "Bluetooth is unavailable on this device.";
                StateHasChanged();
                return true;
            case BluetoothState.Off:
                _errorMessage = "Bluetooth is turned off. Please enable and try again.";
                StateHasChanged();
                return true;
            default:
                _errorMessage = null;
                break;
        }

        return false;
    }

    private async Task ConnectToEsp32()
    {
        if (await CheckBluetoothPermissions()) return;
        if (CheckBluetoothState()) return;

        _connectionState = ConnectionState.Scanning;
        StateHasChanged();
        
        adapter.DeviceDiscovered += async (s, a) =>
        {
            try
            {
                await adapter.ConnectToDeviceAsync(a.Device);
                await adapter.StopScanningForDevicesAsync();
                _connectedDevice = a.Device;
                
                _connectedDeviceService = await _connectedDevice.GetServiceAsync(new Guid(ServiceUuid));
                if (_connectedDeviceService == null)
                {
                    _errorMessage = "Service not found on the connected device.";
                    StateHasChanged();
                    return;
                }

                _connectedDeviceCharacteristic = await _connectedDeviceService.GetCharacteristicAsync(new Guid(CharacteristicUuid));
                if (_connectedDeviceCharacteristic == null)
                {
                    _errorMessage = "Characteristic not found on the service.";
                    StateHasChanged();
                    return;
                }
                
                if (_connectedDeviceCharacteristic.CanUpdate)
                {
                    _connectedDeviceCharacteristic.ValueUpdated += OnCharacteristicValueChanged;
                    await _connectedDeviceCharacteristic.StartUpdatesAsync();
                }
                
                _connectionState = ConnectionState.Connected;
                StateHasChanged();
            }
            catch(DeviceConnectionException e)
            {
                await adapter.StopScanningForDevicesAsync();
                _connectionState = ConnectionState.Disconnected;
                _errorMessage = "Esp32 was found but could not be connected.";
                StateHasChanged();
            }
        };
        var scanFilterOptions = new ScanFilterOptions
        {
            ServiceUuids = [ new Guid(ServiceUuid) ]
        };
        await adapter.StartScanningForDevicesAsync(scanFilterOptions);

        if (adapter.ConnectedDevices.Count == 0)
        {
            _connectionState = ConnectionState.Disconnected;
            _errorMessage = "No Esp32 found. Please ensure it is powered on and in range.";
            StateHasChanged();
        }
    }
    
    private async Task SendCommandToEsp32(string command)
    {
        if (_connectedDeviceCharacteristic is null) return;
        
        await _connectedDeviceCharacteristic.WriteAsync(Encoding.UTF8.GetBytes(command));
    }
    
    private async Task DisconnectFromEsp32()
    {
        if (_connectedDevice is null) return;
        
        if (_connectedDeviceCharacteristic is not null)
        {
            _connectedDeviceCharacteristic.ValueUpdated -= OnCharacteristicValueChanged;
            await _connectedDeviceCharacteristic.StopUpdatesAsync();
        }
        
        await adapter.DisconnectDeviceAsync(_connectedDevice);
        _connectionState = ConnectionState.Disconnected;
        _errorMessage = null;
        StateHasChanged();
    }

    private void OnCharacteristicValueChanged(object sender, CharacteristicUpdatedEventArgs e)
    {
        OnEsp32CommandSent?.Invoke();
    }
}